body {
	background-color: #f8f9fa;
}

.main-container {
	width: 800px;
	margin: 10vh auto;
	transition: all ease .5s;
}

.main-container h5 {
	color: #4a9dfd;
	font-weight: 600;
}

.rep-form {
	padding-bottom: 30px;
	border-bottom: 1px solid #e6e6e6;
}

.replist {
	margin-top: 20px;
	height: 400px;
	margin-bottom: 20px;
	padding-bottom: 40px;
}

.replist-scrollbox {
	overflow-y: auto;
	border-top: 1px solid #e6e6e6;
}

.replist-warning {
	margin-top: 20px;
	text-align: center;
	color: #4a9dfd;
}

.replist-item {
	width: 100%;
	padding: 10px 5px;
	border-bottom: 1px solid #e6e6e6;
	cursor: pointer;
	transition: all ease .2s;
}

.replist-item:hover {
	background-color: #f2f2f2;
}

.replist-name {
	font-size: 20px;
}

.replist-party {

}

.replist-party p {
	display: inline-block;
	margin: 0;
	width: 17px;
	height: 17px;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	border-radius: 3px;
	background-color: #FED201;
}

.replist-party p.R {
	background-color: #cc0000;
}

.replist-party p.D {
	background-color: #3333ff;
}

.repinfo-warning {
	margin-top: 20px;
	text-align: center;
	color: #4a9dfd;
	height: 400px;
}

.repinfo {
	margin-top: 20px;
	height: 400px;
	margin-bottom: 20px;
}

.repinfo h4 {
	
}

.repinfo label {
	color: #4a9dfd;
	font-weight: 700;
	font-size: 12px;
	margin-bottom: 0;
}

.repinfo p {
	font-size: 18px;
	margin-top: -5px;
	margin-bottom: 5px;
}